src/conf/xml-resources/web-service-references/EstacionamientoWS/wsdl/localhost_8080/Servicio_Reserva/index.jsp/EstacionamientoWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://WS/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://WS/">

<xs:element name="actualizarEstacionamiento" type="tns:actualizarEstacionamiento"/>

<xs:element name="actualizarEstacionamientoResponse" type="tns:actualizarEstacionamientoResponse"/>

<xs:element name="buscarEstacionamientoPorId" type="tns:buscarEstacionamientoPorId"/>

<xs:element name="buscarEstacionamientoPorIdResponse" type="tns:buscarEstacionamientoPorIdResponse"/>

<xs:element name="eliminarEstacionamiento" type="tns:eliminarEstacionamiento"/>

<xs:element name="eliminarEstacionamientoResponse" type="tns:eliminarEstacionamientoResponse"/>

<xs:element name="listarEstacionamientos" type="tns:listarEstacionamientos"/>

<xs:element name="listarEstacionamientosResponse" type="tns:listarEstacionamientosResponse"/>

<xs:element name="registrarEstacionamiento" type="tns:registrarEstacionamiento"/>

<xs:element name="registrarEstacionamientoResponse" type="tns:registrarEstacionamientoResponse"/>

<xs:complexType name="listarEstacionamientos">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarEstacionamientosResponse">
<xs:sequence>
<xs:element name="return" type="tns:estacionamiento" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="estacionamiento">
<xs:sequence>
<xs:element name="codEsta" type="xs:int"/>
<xs:element name="estado" type="xs:string" minOccurs="0"/>
<xs:element name="numero" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizarEstacionamiento">
<xs:sequence>
<xs:element name="estacionamiento" type="tns:estacionamiento" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizarEstacionamientoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarEstacionamiento">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarEstacionamientoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarEstacionamientoPorId">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarEstacionamientoPorIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:estacionamiento" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registrarEstacionamiento">
<xs:sequence>
<xs:element name="estacionamiento" type="tns:estacionamiento" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registrarEstacionamientoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>