src/conf/xml-resources/web-service-references/EstacionamientoWS/wsdl/localhost_8080/Servicio_Reserva/index.jsp/EstacionamientoWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WS/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WS/" name="EstacionamientoWS">
<types>
<xsd:schema>
<xsd:import namespace="http://WS/" schemaLocation="http://localhost:8080/Servicio_Reserva/index.jsp/EstacionamientoWS?xsd=1"/>
</xsd:schema>
</types>
<message name="buscarEstacionamientoPorId">
<part name="parameters" element="tns:buscarEstacionamientoPorId"/>
</message>
<message name="buscarEstacionamientoPorIdResponse">
<part name="parameters" element="tns:buscarEstacionamientoPorIdResponse"/>
</message>
<message name="listarEstacionamientos">
<part name="parameters" element="tns:listarEstacionamientos"/>
</message>
<message name="listarEstacionamientosResponse">
<part name="parameters" element="tns:listarEstacionamientosResponse"/>
</message>
<message name="registrarEstacionamiento">
<part name="parameters" element="tns:registrarEstacionamiento"/>
</message>
<message name="registrarEstacionamientoResponse">
<part name="parameters" element="tns:registrarEstacionamientoResponse"/>
</message>
<message name="actualizarEstacionamiento">
<part name="parameters" element="tns:actualizarEstacionamiento"/>
</message>
<message name="actualizarEstacionamientoResponse">
<part name="parameters" element="tns:actualizarEstacionamientoResponse"/>
</message>
<message name="eliminarEstacionamiento">
<part name="parameters" element="tns:eliminarEstacionamiento"/>
</message>
<message name="eliminarEstacionamientoResponse">
<part name="parameters" element="tns:eliminarEstacionamientoResponse"/>
</message>
<portType name="EstacionamientoWS">
<operation name="buscarEstacionamientoPorId">
<input wsam:Action="http://WS/EstacionamientoWS/buscarEstacionamientoPorIdRequest" message="tns:buscarEstacionamientoPorId"/>
<output wsam:Action="http://WS/EstacionamientoWS/buscarEstacionamientoPorIdResponse" message="tns:buscarEstacionamientoPorIdResponse"/>
</operation>
<operation name="listarEstacionamientos">
<input wsam:Action="http://WS/EstacionamientoWS/listarEstacionamientosRequest" message="tns:listarEstacionamientos"/>
<output wsam:Action="http://WS/EstacionamientoWS/listarEstacionamientosResponse" message="tns:listarEstacionamientosResponse"/>
</operation>
<operation name="registrarEstacionamiento">
<input wsam:Action="http://WS/EstacionamientoWS/registrarEstacionamientoRequest" message="tns:registrarEstacionamiento"/>
<output wsam:Action="http://WS/EstacionamientoWS/registrarEstacionamientoResponse" message="tns:registrarEstacionamientoResponse"/>
</operation>
<operation name="actualizarEstacionamiento">
<input wsam:Action="http://WS/EstacionamientoWS/actualizarEstacionamientoRequest" message="tns:actualizarEstacionamiento"/>
<output wsam:Action="http://WS/EstacionamientoWS/actualizarEstacionamientoResponse" message="tns:actualizarEstacionamientoResponse"/>
</operation>
<operation name="eliminarEstacionamiento">
<input wsam:Action="http://WS/EstacionamientoWS/eliminarEstacionamientoRequest" message="tns:eliminarEstacionamiento"/>
<output wsam:Action="http://WS/EstacionamientoWS/eliminarEstacionamientoResponse" message="tns:eliminarEstacionamientoResponse"/>
</operation>
</portType>
<binding name="EstacionamientoWSPortBinding" type="tns:EstacionamientoWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="buscarEstacionamientoPorId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarEstacionamientos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registrarEstacionamiento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizarEstacionamiento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarEstacionamiento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="EstacionamientoWS">
<port name="EstacionamientoWSPort" binding="tns:EstacionamientoWSPortBinding">
<soap:address location="http://localhost:8080/Servicio_Reserva/index.jsp/EstacionamientoWS"/>
</port>
</service>
</definitions>