src/conf/xml-resources/web-service-references/ReservasWS/wsdl/localhost_8080/Servicio_Reserva/index.jsp/ReservasWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WS/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WS/" name="ReservasWS">
<types>
<xsd:schema>
<xsd:import namespace="http://WS/" schemaLocation="http://localhost:8080/Servicio_Reserva/index.jsp/ReservasWS?xsd=1"/>
</xsd:schema>
</types>
<message name="listarReservas">
<part name="parameters" element="tns:listarReservas"/>
</message>
<message name="listarReservasResponse">
<part name="parameters" element="tns:listarReservasResponse"/>
</message>
<message name="cambiarEstadoReserva">
<part name="parameters" element="tns:cambiarEstadoReserva"/>
</message>
<message name="cambiarEstadoReservaResponse">
<part name="parameters" element="tns:cambiarEstadoReservaResponse"/>
</message>
<message name="eliminarReserva">
<part name="parameters" element="tns:eliminarReserva"/>
</message>
<message name="eliminarReservaResponse">
<part name="parameters" element="tns:eliminarReservaResponse"/>
</message>
<message name="generarReservaAutomatica">
<part name="parameters" element="tns:generarReservaAutomatica"/>
</message>
<message name="generarReservaAutomaticaResponse">
<part name="parameters" element="tns:generarReservaAutomaticaResponse"/>
</message>
<message name="buscarReservaPorId">
<part name="parameters" element="tns:buscarReservaPorId"/>
</message>
<message name="buscarReservaPorIdResponse">
<part name="parameters" element="tns:buscarReservaPorIdResponse"/>
</message>
<message name="actualizarReserva">
<part name="parameters" element="tns:actualizarReserva"/>
</message>
<message name="actualizarReservaResponse">
<part name="parameters" element="tns:actualizarReservaResponse"/>
</message>
<portType name="ReservasWS">
<operation name="listarReservas">
<input wsam:Action="http://WS/ReservasWS/listarReservasRequest" message="tns:listarReservas"/>
<output wsam:Action="http://WS/ReservasWS/listarReservasResponse" message="tns:listarReservasResponse"/>
</operation>
<operation name="cambiarEstadoReserva">
<input wsam:Action="http://WS/ReservasWS/cambiarEstadoReservaRequest" message="tns:cambiarEstadoReserva"/>
<output wsam:Action="http://WS/ReservasWS/cambiarEstadoReservaResponse" message="tns:cambiarEstadoReservaResponse"/>
</operation>
<operation name="eliminarReserva">
<input wsam:Action="http://WS/ReservasWS/eliminarReservaRequest" message="tns:eliminarReserva"/>
<output wsam:Action="http://WS/ReservasWS/eliminarReservaResponse" message="tns:eliminarReservaResponse"/>
</operation>
<operation name="generarReservaAutomatica">
<input wsam:Action="http://WS/ReservasWS/generarReservaAutomaticaRequest" message="tns:generarReservaAutomatica"/>
<output wsam:Action="http://WS/ReservasWS/generarReservaAutomaticaResponse" message="tns:generarReservaAutomaticaResponse"/>
</operation>
<operation name="buscarReservaPorId">
<input wsam:Action="http://WS/ReservasWS/buscarReservaPorIdRequest" message="tns:buscarReservaPorId"/>
<output wsam:Action="http://WS/ReservasWS/buscarReservaPorIdResponse" message="tns:buscarReservaPorIdResponse"/>
</operation>
<operation name="actualizarReserva">
<input wsam:Action="http://WS/ReservasWS/actualizarReservaRequest" message="tns:actualizarReserva"/>
<output wsam:Action="http://WS/ReservasWS/actualizarReservaResponse" message="tns:actualizarReservaResponse"/>
</operation>
</portType>
<binding name="ReservasWSPortBinding" type="tns:ReservasWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="listarReservas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cambiarEstadoReserva">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarReserva">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="generarReservaAutomatica">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarReservaPorId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizarReserva">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ReservasWS">
<port name="ReservasWSPort" binding="tns:ReservasWSPortBinding">
<soap:address location="http://localhost:8080/Servicio_Reserva/index.jsp/ReservasWS"/>
</port>
</service>
</definitions>